*{transition: 0.2s;}

.dark-body{
    background: linear-gradient(to right, #04619F , #000000);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.light-body{
    background: linear-gradient(to right, #12c2e9 , #c471ed, #f64f59);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.themebtn {
    /* position: absolute; */
    transform: translateX(100%);
    img {
        width: 50px;
    }
}

.langbtn {
    /* position: absolute; */
    transform: translateX(-100%);
}